{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Register Form' | trans }}
{% endblock %}

{% block body %}
    <div id="vue-app"></div>
{% endblock %}

{% block javascripts %}
    <script src="/vue_build/bundle.js"></script>
{% endblock %}